<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="login-container">
        <form id="loginForm" action="/enter" method="POST" class="login-form">
            <h2>Login</h2>
            <div class="input-group">
                <input type="text" id="id" name="id" required>
                <label>ID</label>
            </div>
            <button type="submit" class="btn">Sign In</button>
        </form>
    </div>
</body>
</html>
