<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recommended Videos</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="rec_welcome">
        <h1 class="rec_h1">Рекомендуемые видео</h1>
        <h4 class="rec_h4">Укажите понравившиеся видео</h4>
    </div>      

    <div id="rec_container" class="rec_container"></div>

    <div class="submiton">
        <button class="submiton_button" id="submitBtn">Перестроить рекомендацию</button>
    </div>

    <h2 class="h2_logo">CLIO</h2>

    <script src="../static/scripts/videos.js"></script>
</body>
</html>
